body {
    background-image: url(https://preview.redd.it/w0ccan5cyvvy.png?width=1080&crop=smart&auto=webp&s=41c0e242c9768f16e69cb94e7b1d6152d5ca2a6e);
    background="https://preview.redd.it/w0ccan5cyvvy.png?width=1080&crop=smart&auto=webp&s=41c0e242c9768f16e69cb94e7b1d6152d5ca2a6e" style="background-size: cover;"
    background: #000000;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

header {
    width: 208vh;
    height: 15vh;
    background: #588D3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

header .logo img {
    width: 25vh;
    height: 100%;
}

header nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding-right: 85px;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-weight: bold;
}

header nav a:hover {
    background: #51b142;
}

header nav a img {
    width: 45px;
}

header .logo h2 {
    font-size: 25px;
    color: whitesmoke;
}

main {
    width: 225vh;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 65px;
}

main img.main {
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 650px;
}

main .title {
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
}

main .title h3 {
    font-size: 45px;
    color: #000000;
}

main .title p {
    width: 50%;
    color: rgb(195, 193, 193);
}

main .buy {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .buy a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    column-gap: 15px;
    background: #588D3A;
    text-decoration: none;
    border-radius: 12px;
}

main .buy a:hover {
    background-color: #4ca13f;
}

main .buy a img {
    width: 45px;
}

.tokenomics {
    width: 225vh;
    min-height: 75vh;
    height: fit-content;
    background: #000000;
}

.tokenomics .head {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokenomics .head h3 {
    font-size: 45px;
}

.tokenomics .cont {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
    flex-wrap: wrap;
}

.tokenomics .cont .card {
    width: 35vh;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca {
    width: 219vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokenomics .cont .card img {
    position: absolute;
    width: 305px;
    z-index: 1;
}

.tokenomics .cont .card h2 {
    position: absolute;
    z-index: 5;
    margin-top: 145px;
    font-size: 20px;
    background: black;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7cm);
}


.video-container video {
    max-width: 100%;
    max-height: 100%;
}
